/* Rooter */
:root{
  --bg-gradiant: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  --green: #30C88F;
  --dark: #2D314D;
  --pre-light: #9597A5;
  --light: #fff;
  --font: "Public Sans", "Arial", sans-serif;
}
/* Fonts  */
/* public-sans-100 - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/public-sans-v11-latin-100.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("../fonts/public-sans-v11-latin-100.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/public-sans-v11-latin-100.woff2") format("woff2"), /* Super Modern Browsers */
  url("../fonts/public-sans-v11-latin-100.woff") format("woff"), /* Modern Browsers */
  url("../fonts/public-sans-v11-latin-100.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/public-sans-v11-latin-100.svg#PublicSans") format("svg"); /* Legacy iOS */
}
/* public-sans-regular - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("../fonts/public-sans-v11-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/public-sans-v11-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
  url("../fonts/public-sans-v11-latin-regular.woff") format("woff"), /* Modern Browsers */
  url("../fonts/public-sans-v11-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/public-sans-v11-latin-regular.svg#PublicSans") format("svg"); /* Legacy iOS */
}
/* public-sans-500 - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/public-sans-v11-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("../fonts/public-sans-v11-latin-500.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/public-sans-v11-latin-500.woff2") format("woff2"), /* Super Modern Browsers */
  url("../fonts/public-sans-v11-latin-500.woff") format("woff"), /* Modern Browsers */
  url("../fonts/public-sans-v11-latin-500.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/public-sans-v11-latin-500.svg#PublicSans") format("svg"); /* Legacy iOS */
}
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:var(--font);
  font-size: 16px;
  line-height: 1.5;
  background-color: #F2F2F2;
  color: var(--pre-light);
}

img {
  max-width: 100%;
  height: auto;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color:var(--pre-light);
}
.btn-premium{
  padding: 14px 34px;
  border-radius: 22px;
  background: var(--bg-gradiant);
  border: none;
  outline: none;
  color:var(--light);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-premium:hover{
  opacity: 0.7;
}
.btn-premium:focus{
  outline: 2px dotted #33D35E;
}
/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 150px;
  padding-right: 150px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* HEADER  */
.header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  z-index: 111;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0 ;
}

.logo svg{
  transition: all 0.3s ease;
}

.logo svg:hover {
  opacity: 0.7;
}
.nav-links {
  display: flex;

}
.links{
  margin-right: 30px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  padding: 5px;
  transition: all 0.3s ease;
}

.links:hover{
  color:var(--dark);
}


/* Hero  */

.hero {
}

.hero-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items:center;
}
.hero-bg-wrapper {
  width: 730px;
  transform: translate(150px ,-30px);
  background-image: url(../img/bg-intro-desktop.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-content {
  width: 447px;
}
.title {
  margin: 0;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--dark);
  margin-bottom: 24px;
}
.hero-text {
  font-weight: 100;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  margin-bottom: 36px;
}


.reason-to-choose {
  background-color: #F4F5F7;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.reason-to-choose-wrapper {
  padding: 95px 0;

}
.reason-title {
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  margin-bottom: 16px;
  color:var(--dark);
}
.reason-text {
  font-weight: 100;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
  width: 635px;
  margin-bottom: 72px;
}
.reasons-wrapper {
  display: flex;

}
.reason:not(:last-child) {
  margin-right: 30px;
}
.reason-subtitle {
  margin-top: 40px;
  margin-bottom: 26px;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  color:var(--dark);
  letter-spacing: -0.428571px;
}
.reason-content {
  font-weight: 100;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  letter-spacing: -0.25px;

  color: #9597A5;

}


/* INDEX ARTICLE  */

.index-article {
  padding: 80px 0;
}

.index-article-title {
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
  margin-bottom: 40px;

}
.index-article-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.index-article-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  background-color:var(--light);
  width: 255px;
  border-radius: 5px;
}

.index-article-content:not(:last-child){
  margin-right: 30px;
}


.article-athour {
  padding: 0 24px;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: #9597A5;
  margin-top: 25px ;
  margin-bottom: 8px;
}
.aticle-content-title {
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  padding: 0 24px;
  letter-spacing: -0.285714px;
  margin-bottom: 8px;
  color: #2D314D;
}
.article-content-text {
  font-weight: 100;
  font-size: 13px;
  line-height: 18px;
  padding: 0 24px;
  letter-spacing: -0.203125px;
  color: #9597A5;
}